<main>
  <div id="grid-container">
    <% @elements.each do |element| %>
      <section class="<%= "element #{element.category} #{element.symbol}" %>">
        <span><%= element.number %></span>
        <h2><%= element.symbol %> </h2>
        <p><%= element.name %> </p>
        <p><%= element.atomic_mass %></p>
      </section>
    <% end %>
  </div>
</main>

<%= javascript_pack_tag 'elements' %>

