
<main>
  <div id="grid-container">
    <% @elements.each do |element| %>
      <% element.xpos += 1 if element.number.between?(57,71) || element.number.between?(89,103) %>
      <section class="<%= "#{element.category.split(/,/).join(" ")} #{element.symbol}" %>" style="grid-column:<%= element.xpos %>;grid-row:<%= element.ypos %>;">
        <%= link_to element_path(element.name) do %>
          <div class="attributes">
            <span id="number"><%= element.number %></span>
            <h2 id="symbol"><%= element.symbol %> </h2>
            <p id="name"><%= element.name %> </p>
            <p id="atomic-mass"><%= element.atomic_mass.truncate(4) %></p>
          </div>
        <% end %>
      </section>
    <% end %>
    <section class="placeholder"></section>
    <h2 class="placeholder-text" id="placeholder-1">57-71</h2>
    <h2 class="placeholder-text" id="placeholder-2">89-103</h2>
  </div>
</main>

<%= javascript_pack_tag 'elements' %>

