<main>
  <section class="<%= "show #{@element.category.split(/,/).join(" ")} #{@element.symbol}" %>">
    <span><%= @element.number %></span>
    <h2><%= @element.symbol %> </h2>
    <p><%= @element.name %> </p>
    <p><%= @element.atomic_mass.truncate(4) %></p>
  </section>
</main>